<div class="container">
  <div class="my-5">
    <app-menu></app-menu>
  </div>
  <div class="alert alert-warning" *ngIf="isLoading">
    Cargando orden con codigo de seguimiento {{ codigoDeSeguimiento }}...
  </div>
  <div class="alert alert-danger" *ngIf="isNotFound">
    El codigo de seguimiento {{ codigoDeSeguimiento }} no se pudo encontrar.
  </div>
  <div *ngIf="!isLoading && !isError && !isNotFound">
    <div class="card shadow my-5">
      <div class="card-body">
        <div class="d-flex justify-content-around mb-3">
          <div class="d-flex">
            <img src="assets/images/profile-default.png" height="120" />
            <ul class="list-data ml-2">
              <li>
                <span class="font-weight-bold mr-2">Conductor:</span>
                <span>Ricardo Castillo</span>
              </li>
              <li>
                <span class="font-weight-bold mr-2">Teléfono:</span>
                <span>999-999-999</span>
              </li>
            </ul>
          </div>
          <ul class="list-data">
            <li>
              <span class="font-weight-bold mr-2">Salida:</span>
              <span>{{orden?.nombreDeLaFabrica}}</span>
            </li>
            <li *ngIf="!orden?.fechaDeEnvio">
              <span class="font-weight-bold mr-2">Salida estimada:</span>
              <span>{{orden?.fechaEstimadaDeEnvio | date: 'dd/MM/yyyy'}}</span>
            </li>
            <li *ngIf="orden?.fechaDeEnvio">
              <span class="font-weight-bold mr-2">Salida:</span>
              <span>{{orden?.fechaDeEnvio | date: 'dd/MM/yyyy'}}</span>
            </li>
            <li>
              <span class="font-weight-bold mr-2">Llegada:</span>
              <span>{{orden?.lugarDeEntrega}}</span>
            </li>
            <li>
              <span class="font-weight-bold mr-2">Peso:</span>
              <span>{{orden?.pesoEnKilos | number:'1.0-0'}} KG</span>
            </li>
          </ul>
        </div>
        <div class="d-flex justify-content-center">
          <span class="badge badge-pill badge-primary justify-content-center align-content-center ml-2 p-2 px-3"
            style="font-size: 16px;">Estado: {{getNombreDelEstado(orden!.estado)}}</span>
        </div>

      </div>
    </div>

    <div class="card shadow my-5">
      <div class="card-body">
        <h2>{{orden?.direccionDeEntrega}}</h2>
        <br />
        <google-map [center]="center" [zoom]="zoom" height="500px" width="100%">
          <map-marker [position]="center" [label]="{text: 'Destino', color: 'Black'}"></map-marker>
        </google-map>
      </div>
    </div>
  </div>
</div>