<div class="container">
  <div class="my-5">
    <app-menu></app-menu>
  </div>
  <div class="card shadow my-5">
    <div class="card-body">
      <div class="d-flex justify-content-around mb-3">
        <div class="d-flex">
          <img src="assets/images/profile-default.png" height="120" />
          <ul class="list-data ml-2">
            <li>
              <span class="font-weight-bold mr-2">Conductor:</span>
              <span>Ricardo Castillo</span>
            </li>
            <li>
              <span class="font-weight-bold mr-2">Teléfono:</span>
              <span>999-999-999</span>
            </li>
          </ul>
        </div>
        <ul class="list-data">
          <li>
            <span class="font-weight-bold mr-2">Salida:</span>
            <span>Nombre de fábrica</span>
          </li>
          <li>
            <span class="font-weight-bold mr-2">Salida estimada:</span>
            <span>Salida estimada</span>
          </li>
          <li>
            <span class="font-weight-bold mr-2">Llegada:</span>
            <span>Lugar de entrega</span>
          </li>
          <li>
            <span class="font-weight-bold mr-2">Peso:</span>
            <span>xx KG</span>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-center">
        <span class="badge badge-pill badge-primary justify-content-center align-content-center ml-2 p-2 px-3" style="font-size: 16px;">Estado: En Proceso</span>
      </div>
      
    </div>
  </div>

  <div class="card shadow my-5">
    <div class="card-body">
      <google-map [center]="center" [zoom]="zoom" height="500px" width="100%">
      </google-map>
    </div>
  </div>
</div>
