<div class="container">
  <div class="my-5">
    <app-menu></app-menu>
  </div>

  <div class="card shadow">
    <div class="card-body">
      <h4>Soporte</h4>
      <p>Puedes contactarte con soporte por medio de estas opciones</p>

      <div class="d-flex justify-content-around">
        <div class="card option-card">
          <a href="tel:984776724" target="_blank">
            <img
              src="assets/images/hablando-por-telefono.jpg"
              height="187"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">Por Teléfono</h5>
            </div>
          </a>
        </div>
        <div class="card option-card">
          <a href="mailto:benjamin.marquina@betondecken.com" target="_blank">
            <img
              src="assets/images/hablando-por-email.png"
              height="187"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">Por Email</h5>
            </div>
          </a>
        </div>
        <div class="card option-card">
          <a href="https://wa.me/+51984776724" target="_blank">
            <img
              src="assets/images/hablando-por-whatsapp.jpg"
              height="187"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-center">Por Whatsapp</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow my-5">
    <div class="card-body">
      <h4>Preguntas frecuentes</h4>
      <div class="accordion mt-4" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button
                class="btn btn-block text-left font-weight-bold"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                1. ¿Qué tipo de soporte ofrece Beton Decken a sus clientes en
                proyectos de construcción?
              </button>
            </h2>
          </div>
          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Beton Decken ofrece soporte integral a sus clientes desde la fase
              de diseño hasta la instalación de los prefabricados. Esto incluye
              asistencia técnica, seguimiento en obra, y asesoría en el uso de
              tecnologías como BIM para optimizar el diseño y la ejecución del
              proyecto.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button
                class="btn btn-block text-left collapsed font-weight-bold"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                2. ¿Cómo ayuda Beton Decken a sus clientes a implementar el
                sistema BIM en sus proyectos?
              </button>
            </h2>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Beton Decken proporciona soporte técnico en la implementación del
              sistema BIM, ayudando a los clientes a modelar sus proyectos de
              manera precisa y a optimizar el uso de los prefabricados. El
              equipo de Beton Decken colabora estrechamente con los diseñadores
              y contratistas para garantizar que los modelos BIM sean
              funcionales y eficientes.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button
                class="btn font-weight-bold btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                3. ¿Beton Decken ofrece mantenimiento o asistencia postventa
                para sus productos?
              </button>
            </h2>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Sí, Beton Decken ofrece asistencia postventa, lo que incluye
              mantenimiento y soporte técnico para garantizar que los productos
              prefabricados, como las prelosas, sigan funcionando correctamente
              después de la instalación. Además, están disponibles para resolver
              cualquier problema que surja durante la fase de construcción o
              uso.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button
                class="btn font-weight-bold btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                4. ¿Qué soluciones de soporte tiene Beton Decken en caso de
                problemas con el transporte o instalación de sus productos?
              </button>
            </h2>
          </div>
          <div
            id="collapseFour"
            class="collapse"
            aria-labelledby="headingFour"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Beton Decken ofrece soporte logístico durante el transporte de sus
              productos prefabricados y proporciona asistencia en la instalación
              para garantizar que todo el proceso se realice sin problemas. Si
              surgen inconvenientes, su equipo técnico está disponible para
              resolverlos rápidamente en obra.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button
                class="btn font-weight-bold btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                5. ¿Cómo garantiza Beton Decken que sus productos lleguen en
                buen estado a los proyectos de sus clientes?
              </button>
            </h2>
          </div>
          <div
            id="collapseFive"
            class="collapse"
            aria-labelledby="headingFive"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              Beton Decken cuenta con un sistema de logística especializado y un
              equipo técnico que supervisa el transporte y la manipulación de
              los prefabricados para asegurarse de que lleguen en perfecto
              estado. Además, ofrece soporte en la descarga e instalación en la
              obra para minimizar cualquier riesgo de daño.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
