.content-background{

  .background-image{
    background-image: url('/assets/images/background.png');
    background-position: center;
    background-size: cover;
    height: calc(100vh - 90px) ;
    width: 100%;
  }
  .background-cover-image{
    background-color: black;
    height: calc(100vh - 90px) ;
    opacity: .5;
    position: absolute;
    width: 100%;
    top: 90px;
  }
  .content-register{
    position: absolute;
  }
}


