<div class="content-background d-flex justify-content-center align-items-center">
  <div class="background-image"></div>
  <div class="background-cover-image"></div>

  <div class="content-register p-4 bg-white rounded w-25 shadow-lg">
    <h2 class="text-center">Nuevo Registro</h2>
    <hr class="my-3">
    <form >
      <div class="form-group">
        <label for="name">Nombres:</label>
        <input id="name" type="text" class="form-control"  />
      </div>
      <div class="form-group">
        <label for="lastname">Apellidos:</label>
        <input id="lastname" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" class="form-control" />
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Confirmar Password:</label>
        <input id="passwordConfirm" type="password" class="form-control" />
      </div>
      <div class="form-group mt-4">
        <button class="btn btn-primary btn-block" [routerLink]="['/home']" >Crear cuenta</button>
      </div>
    </form>
  </div>
</div>
